.home-section{
    position: absolute;
    width: 99%;
    height: 100%;
}
.home-title1{
    position: absolute;
    align-content: left;
    font-family: 'Josefin Sans';
    font-size: 40px;
    text-align: center;
    color: #5C7D91;

    position: absolute;
    left: 25%;
    top: 25%;
}

.home-paragraph1 {
    position: absolute;
    left: 25%;
    top: 32%;
    text-align: left;
    color: #465351;
    font-size: 25px;
    font-weight: 340;
    font-family: 'Josefin Sans';

}

.home-title2{
    position: absolute;
    align-content: center;
    font-family: 'Josefin Sans';
    font-size: 40px;
    text-align: right;
    color: #5C7D91;
    position: absolute;
    right: 20%;
    top: 60%;

}

.home-paragraph2{
    position: absolute;
    right: 20%;
    top: 67%;
    text-align: right;
    color: #465351;
    font-size: 25px;
    font-weight: 340;
    font-family: 'Josefin Sans';

}