.section {
}

.section-content {
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 430px;
    padding-top: 425px;
    padding-left: 925px;
    padding-right: 925px;
}
.home-paragraph{
    position: absolute;
    width: 1151px;
    height: 70px;
    left: calc(50% - 1151px/2 - 14.5px);
    top: 350px;

    font-family: "Lato";
    font-size: 58px;
    line-height: 68px;
    text-align: center;
    color: #A1D1C7;
}