
.home{
    position: absolute;
    width: 1151px;
    height: 70px;
    left: calc(50% - 1151px/2 - 14.5px);
    top: 170px;

    font-family: "Lato";
    font-size: 58px;
    line-height: 68px;
    text-align: center;

    color: #527D92;
}

.leopard{
    z-index: -1;
    opacity: 0.15;
}